/* --------------- Basic's Tag --------------- */

body {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 52px;
  margin: 0;
  font-weight: bold;
}

h2 {
  font-size: 40px;
  margin: 0;
  font-weight: bold;
}

h3 {
  font-size: 15px;
  margin-top: 1rem;
  font-weight: bold;
}

/* --------------- Anchor's Styling --------------- */

a {
  text-decoration: none;
}

a:hover {
  color: #DEEEEA;
}

/* --------------- Horizontal Rule's Styling --------------- */

hr {
    overflow: visible;
    padding: 0;
    border: none;
    border-top: medium double #FF2442;
    text-align: center;
}

hr:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7rem;
    font-size: 1.5rem;
    padding: 0 0.25rem;
    color: #FF2442;
    background: #DEEEEA;
}

/* --------------- Spacing --------------- */

.margin-bot-footer {
  margin: 4.375rem 0 0;
  padding: 3.125rem 0 1.25rem;
}

.margin-top-content {
  margin-top: 6.25rem;
}

.margin-top-article {
  margin-top: 3rem;
}

.margin-top-download {
  margin-top: 2.5rem;
}

.margin-pc {
  margin-top: 4.25rem;
}

.margin-phone {
  margin: 0.35rem auto;
}

.bg-edit {
  background-color: #231E23;
}


/* --------------- Text's Styling --------------- */

.big-text {
  color: #FF2442;
  font-weight: bold;
}

.thunder-gym {
  font-weight: bold;
}

.text-1 {
  margin: 10px 0 0;
  position: relative;
  left: 0.25rem;
}

.footer-link {
  color: #FF2442;
  text-decoration: none;
  font-family: 'Merriweather', serif;
  margin: 0 1.25rem;
}

.copyright {
  padding: 1.875rem 0 0;
  font-size: 0.85rem;
}

.blog-text {
  font-size: 0.75rem;
}

.justify-content {
  text-align: justify;
}

.hover-text:hover {
  color: #FF2442;
}

.sub-color-text {
  color: #766161;
}


/* --------------- Button's Styling --------------- */

.btn {
  margin: 1.875rem 0.625rem;
  width: 9.375rem;
  border-radius: 20px;
}

.btn-first {
  background-color: #FF2442;
  color: #fff;
}

.btn-second {
  background: transparent;
  border: 1px solid #FF2442;
  color: #FF2442;
}

.btn:hover {
  background: #FF2442;
  border: none;
  color: #fff;
  box-shadow: 5px 5px 10px #999;
  transition: 0.3s;
}

/* --------------- Images Sizing --------------- */

.article-img {
  width: 350px;
  height: 200px;
  border-radius: 15px;
}

/* --------------- Dark Mode --------------- */

.darkmode-img {
  width: 1.875rem;
  cursor: pointer;
}

.darkmode {
  background-color: #231E23;
  color: #DEEEEA;
  transition: 1.5s;
}

.brightmode {
  background-color: #DEEEEA;
  color: #231E23;
  transition: 1.5s;
}

/* --------------- Media Query --------------- */

@media (max-width: 767.98px) {

  body {
    text-align: center;
  }

  .text-mobile {
    text-align: inherit;
  }

  .margin-top-content {
    margin: 0 auto;
  }

  .margin-top-article {
    margin-top: 2.5rem;
  }

  .margin-top-article-special {
    margin-top: 3rem;
  }

  .margin-phone {
    margin: 1rem auto;
  }

  .margin-phone-2 {
    margin-top: 3rem;
  }

  .text-1 {
    position: static;
  }

  .img-fluid {
    display: none;
  }

  .btn-phone1 {
    margin-top: 4.25rem;
  }

  .btn-phone2 {
    margin-top: 0;
  }

  .margin-top-download {
    margin-top: 0;
  }

  .margin-btn-form1 {
    margin-top: 0.5rem;
  }

  .margin-btn-form2 {
    margin-top: 1.5rem;
  }

  .margin-top-footer {
    margin: 2.35rem auto auto;
  }

  .margin-bot-footer {
    padding: 3rem 0 2rem;
  }

  .margin-pc {
    margin: 3rem auto;
  }

  .margin-btn-index {
    margin-top: 4rem;
  }

  .margin-top-footer-phone {
    margin: 0 auto auto;
  }

}

@media (min-width: 768px) {

  .margin-btn-index {
    margin-top: 4rem;
  }

}

@media (max-width: 368px) {

  .btn-phone1 {
    margin-top: 4rem;
  }

  .btn-phone2 {
    margin-top: 0.5rem;
  }

}
